{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
    <h1>My blog</h1>
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            Published{{ post.publish }} by {{ post.author }} Created Time:{{ post.created }}
        </p>
        {{ post.body|truncatewords:20|linebreaks }}
    {% endfor %}
    {% include "test_include.html" with posts='fuck' %}
    {% include "pagination.html" %}
{% endblock %}